/*
* primair:      #734E39; bovenaan banner
* secundair:    #8C5320; intro lettertype
* wit:          #FCFCFC; pagina-achtergrondkleur
* zwart:        #1A120E; lettertype 
* accentkleur1: #201E4A; selectie nav
* accentkleur2: #F2CAB3; achtergrondkleur footer en lettertype titel/nav
* accentkleur3: #5B56BF; hover over nav en fijn lijntje footer
*/

/***** ALL PAGES *****/
html {
    font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    background-color: #FCFCFC;
    color: #1A120E;
}

header {
    background-color:#734E39;  
    padding: 0.3rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem; /*verhindert dat de titel en de nav tegen elkaar zouden komen bij het verkleinen van het scherm*/
}

header #logo {
    font-size: 2rem;
    color:#F2CAB3;  
    text-align: center;  
}

/* navigatie rechts zetten */
header nav#nav-main {
    display: flex; /*items moeten flexibel zijn*/
    justify-content: flex-end; /*dit moet naar de rechterkant geschoven worden*/
    text-align: right;
    padding: 0.5rem;
    
}

/* zoeken naar a-tag met de klasse nav-item */
header nav#nav-main a.nav-item {
    display: block; /*dit zijn echte blocks geworden waarmee er mag verschoven worden*/
    color: #F2CAB3;
    text-decoration: none;
    padding: 0.5rem; /*dit duwt de background color buiten de nav-main*/
    margin: 0 0.2rem;
    font-weight: bold;
}

/*mouse over tekst*/
a:hover {
    background-color:#5B56BF; 
}

header nav#nav-main a.nav-item_current {
    color: #201E4A
}


main {
    max-width:1200px ;      /*maximale breedte om de tekst in de main centraler te zetten*/
    margin: 1rem auto;      /*1rem: boven en onder witruimte laten, auto:witruimte rondom tekst zelf laten berekenen */
    padding: 1rem;          /*witruimte ook langs de borders laten*/
}

/*iedere section binnen in de main*/
main section {
    margin: 1rem 0;
}

h1 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.intro {
    color: #8C5320;
    font-size: 1.2rem;
    font-weight: bold;   
}

.outro {
    margin: 2.5rem 0;
}

footer {
    background-color: #F2CAB3;
    border-top: 3px solid#5B56BF;
    margin-top: 1rem;
    font-size: 0.8rem;
    padding: 0.5rem;
}

div.name {
    text-align: center;
}

div.schoolname {
    text-align: center;
}

div.training {
    text-align: center;
}


/***** STARTPAGINA *****/
/*kolommen stylen*/
.grid-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; /*witruimte tussen de kolommen*/
}


/***** IMAGES *****/
img.metal {
    display:block;
    border-radius: 2%;
    margin: 1.5rem auto;   
    width: auto;
    height: auto;   
}

img.oldperson {
    display:block;
    border-radius: 2%;
    width: auto;
    height: auto; 
    float: right;
    margin: 0.4rem; 
}


/***** CMB *****/
main section section p.data {
    margin: 1rem 0;
}

dt {
    font-weight: bold;
    margin: 1rem 0;
}
