@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
  font-family: 'Roboto Mono', monospace;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5e1df67b3ebb253530461bca/1579022157235-ZG0BJYTSGLVOXPID0EAA/Brewhouse+8+copy.jpg?format=2500w");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size: 100vw;
}

h1 {
  color: rgb(255, 145, 0);
  text-shadow: 2px 2px 4px #000000;
}