.App {
  text-align: center;
}

.item-container li {
  padding: 0.8rem;
  margin: 1rem;
  list-style-type: none; 
  background-color:#fca873; 
  border-radius: 0.5rem;
  transition: all 150ms ease-in-out;
}

.item-container li button{
  cursor: pointer;
  border: #f07930;
  border-radius: 0.2rem;
  background-color:#f07930;
}

.grid
{
    display: grid;
    gap: 1rem;
}

.grid-col2
{
    grid-template-columns: 1fr 1fr;
}

.grid-col4
{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}