@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
  
  font-family: 'Bangers', system-ui;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Marvel_Logo.svg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size: 100vw;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
